###  Import DataSet and Preprocess

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
path1='/content/drive/My Drive/Train.csv'
path2='/content/drive/My Drive/Test.csv'

In [ ]:
df_train=pd.read_csv(path1)
df_train.head()

    Applicant_ID  form_field1  ...  form_field50  default_status
0  Apcnt_1000000       3436.0  ...      0.044335              no
1  Apcnt_1000004       3456.0  ...      0.322436              no
2  Apcnt_1000008       3276.0  ...      0.011640             yes
3  Apcnt_1000012       3372.0  ...      0.082729              no
4  Apcnt_1000016       3370.0  ...      0.045630              no

[5 rows x 52 columns]

### Fill missing values with -999

In [ ]:
df_train.fillna(-999, inplace=True)

## Handle Categorical Variables with one hot encoding

In [ ]:
dum=pd.get_dummies(df_train['form_field47'])
df_train=pd.concat([df_train, dum], axis=1)

In [ ]:
df_train.drop('form_field47', axis=1, inplace=True)

In [ ]:
#yes:1, no: 0
df_train['default_status'].replace('no', 0, inplace=True)
df_train['default_status'].replace('yes', 1, inplace=True)

## Prepare Dataset for Modelling

In [ ]:
X=df_train.drop(['Applicant_ID','default_status'], axis=1)
Y=df_train['default_status']

## Import and Preprocess Test Dataset for Modeling

In [ ]:
df_test = pd.read_csv(path2)
df_test.head()

    Applicant_ID  form_field1  ...  form_field49  form_field50
0  Apcnt_1000032       3236.0  ...      0.000000      0.011221
1  Apcnt_1000048       3284.0  ...      0.504974      0.043525
2  Apcnt_1000052          NaN  ...      0.000000           NaN
3  Apcnt_1000076       3232.0  ...      0.788809      0.104029
4  Apcnt_1000080       3466.0  ...      1.637733      0.163124

[5 rows x 51 columns]

In [ ]:
df_test.fillna(-999,inplace=True)
dum=pd.get_dummies(df_test['form_field47'])
df_test=pd.concat([df_test, dum], axis=1)
df_test.drop('form_field47', axis=1, inplace=True)

In [ ]:
df_model=df_test.drop('Applicant_ID', axis=1)

In [ ]:
df_train.info()

FEATURE ENGINEERING (Log Transformation of some skewed columns)

In [ ]:
skewed_columns=['form_field14','form_field13','form_field7','form_field10','form_field50','form_field11', 'form_field48','form_field24','form_field9', 
              'form_field5','form_field38','form_field20','form_field34','form_field4','form_field3','form_field49', 'form_field19']

In [ ]:
## Transforming skewed columns in train dataset
import numpy as np
for i in skewed_columns:
    unskewed=np.log(X[i] + 1)
    X[i+'unskewed']=unskewed
    continue

/usr/local/lib/python3.6/dist-packages/pandas/core/series.py:726: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [ ]:
## Transforming skewed columns in test dataset
for i in skewed_columns:
    unskewed=np.log(df_model[i] + 1)
    df_model[i+'unskewed']=unskewed
    continue

/usr/local/lib/python3.6/dist-packages/pandas/core/series.py:726: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [ ]:
# Drop skewed columns and fill Nan with -999
for i in skewed_columns:
  X.drop(i, axis=1, inplace=True)
  df_model.drop(i, axis=1, inplace=True)
  continue

df_model.fillna(-999, inplace=True)
X.fillna(-999, inplace=True)

# Modelling

In [ ]:
!pip install catboost

In [ ]:
!pip install rgf_python

In [ ]:
from lightgbm import LGBMClassifier
from sklearn.ensemble import VotingClassifier
from catboost import CatBoostClassifier
from sklearn.model_selection import StratifiedKFold 
from sklearn.ensemble import RandomForestClassifier
from rgf.sklearn import RGFClassifier
rf=RandomForestClassifier(n_estimators=500)
rgf=RGFClassifier()
kf=StratifiedKFold(n_splits=5)
lg=LGBMClassifier(n_estimators=220, learning_rate=0.05)
cat=CatBoostClassifier()

In [ ]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import MinMaxScaler
scale=MinMaxScaler()

In [ ]:
clf=VotingClassifier(estimators=[('lg', lg), ('cat', cat),('rf', rf), ('rgf', rgf)], voting='soft', weights=[0.49, 1, 0.54,0.5])

In [ ]:
X.info()

In [ ]:
score=list()
predictions=list()
pipe=make_pipeline(scale, clf)
for Train, Test in kf.split(X,Y):
    
    x_train,x_test,y_train,y_test=X.iloc[Train], X.iloc[Test], Y.iloc[Train], Y.iloc[Test]
    pipe.fit(x_train, y_train)
    sc=pipe.score(x_test,y_test)
    score.append(sc)
    prediction=pipe.predict_proba(df_model)[:,1]
    predictions.append(prediction)

In [ ]:
np.mean(score)

0.8097142857142856

# Submission File

In [ ]:
sub=np.mean(predictions, axis=0)

In [ ]:
df_sub=pd.DataFrame(sub)

In [ ]:
df_id=df_test[['Applicant_ID']]
df_sub=pd.concat([df_id,df_sub], axis=1)

In [ ]:
df_sub.head(2)

In [ ]:
from google.colab import files
df_sub.to_csv('./submissionfile.csv', sep = ',', index = False)

In [ ]:
files.download('submissionfile.csv')